 <h3>Búsqueda de preguntas:</h3>
  <p>En esta sección se podrá buscar preguntas asociadas a un término de búsqueda</p>
  <br><br>
  <form action="/quizes">
    Búsqueda:<input type="text" name="search" value="Italia">
    <input type="submit" value="Enviar">
   </form> 